/*
	Project: ICPC Live 2012 in Warsaw, Poland.
	Authors: Niklas Ek & Roger Sandholm.
	Date: March, April and May 2012.
*/



@base_url: "http://localhost/wolf/";
// background-image: url("@{base-url}images/bg.png");




/////////////
// COLORS

@bodyColor: #1e1e1e;	// Page background
@baseColor: #48c;		// Used as backgrounds and as base for other colors.
@textColor: #333;		// Normal text color.
@linkColor: #7cf;		// Link, normal.


/////////////
// FONTS

@baseFont: 'Lucida sans', Arial, Helvetica;
@bodyFont: Geneva, arial, sans-serif;

/////////////
// MEASURES

@site-max-width: 1200px;		// for wrap and footer.
@site-min-width: 765px;
@line-height: 2.5rem;	// for paragraphs, lists and other. 2.5rem = 25px;

///////////////
// POLYFILLS

.border-radius( @radius: 3px ) {
	-webkit-border-radius: @radius;
	   -moz-border-radius: @radius;
	        border-radius: @radius;
}

.box-shadow( @x: 2px, @y: 2px, @blur: 4px, @spread: 0, @color: rgba(0,0,0,.5)) {
	-webkit-box-shadow: @x @y @blur @spread @color;
	   -moz-box-shadow: @x @y @blur @spread @color;
	        box-shadow: @x @y @blur @spread @color;
}

.text-shadow( @x: 1px, @y: 1px, @blur: 1px, @spread: 0, @color: rgba(0,0,0,.5)) {
	-webkit-text-shadow: @x @y @blur @spread @color;
	   -moz-text-shadow: @x @y @blur @spread @color;
	        text-shadow: @x @y @blur @spread @color;
}

.transition( @what: all, @length: 1s, @easing: ease-in-out ) {
	-webkit-transition: @what @length @easing;
	   -moz-transition: @what @length @easing;
	     -o-transition: @what @length @easing;
		  	transition: @what @length @easing;
}

.transform( @params ) {
	-webkit-transform: @params;
	   -moz-transform: @params;
         -o-transform: @params;
	        transform: @params;
}

.linear-gradient( @begin: black, @end: white, @switch: 100% ) {
	background: @begin;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@begin), color-stop(@switch, @end));
	background-image: -moz-linear-gradient(top, @begin, @end @switch);
	background-image: -o-linear-gradient(top, @begin, @end @switch);
	background-image: linear-gradient(top, @begin, @end @switch);
}

.box-sizing( @type: border-box ) {
	-webkit-box-sizing: @type;
	   -moz-box-sizing: @type;
	        box-sizing: @type;
}

.font-size(@rem: 1.6 ) {
	@px: round(@rem*10);
	font-size: ~"@{px}px";
	font-size: ~"@{rem}rem";
}




///////////////////
// BASE ELEMENTS

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	line-height:1;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

* { .box-sizing( border-box ); position:relative; }

// Nicolas Gallagher's micro clearfix
.group:before, .group:after { content:""; display:table; }
.group:after { clear:both; }
.group { zoom:1; } /* For IE 6/7 (trigger hasLayout) */


// HEADINGS
h1, h2, h3, h4, h5, nav {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	color: @textColor;
}

h1 { .font-size(4.0); }
h2 { .font-size(3.5); }
h3 { .font-size(2.9); }
h4 { .font-size(2.3); }
h5 { .font-size(1.8); }


p { padding-bottom: @line-height; line-height:@line-height;}
p:last-child { padding-bottom: 0; }

blockquote { }
cite { }




// ANCHORS

a { }
a:hover { }
a:active { }
a:focus { }



// IN-TEXT ELEMENTS
strong { font-weight: bold; }
em { font-style: italic; }
small { .font-size(1.0); }
abbr { color: lighten(@textColor, 10); border-bottom:1px dashed @textColor; cursor:help;}



// FORMATTING

ul, ol { list-style: disc inside; padding-bottom: @line-height;}
li {line-height: @line-height;}

table { }




// FORMS

input[type="text"],input[type="email"],input[type="url"] { }
textarea { }

button, input[type="submit"] { }

//////////////
// PARTIALS

html{font-size:10px; height:100%;}

body {
	width:100%;
	height:100%;
	background: @bodyColor url(../images/worldmap_blue_background.gif) center center;
	.font-size(1);
	font-family: @baseFont;
}

.wrap {
	width:100%;
	max-width: @site-max-width;
	min-width: @site-min-width;
	/*min-height:100%;
	height: auto;*/
	
	padding:0 1%;
	margin:0 auto;
}

section.main {
	padding:@line-height*4 1%;
	margin:-@line-height*4 auto;
}


// HEADER 
	
	#site-header {
		min-width:@site-min-width;
		background: #444;
		.linear-gradient(#4a4a4a, #3c3c3c);
	}

		#site-title {
			display:inline;
			float:left;
			padding-left:0.5%;
			
			color: #e3e3e3;
			text-shadow: -1px -1px 0 rgba(0,0,0,0.5); 
			.font-size(2.0rem);
			line-height:@line-height;
		}


	nav {
		float:right;
		padding-right:0.5%;
		
		ul { list-style:none; padding:0;}
	
		li {
			display: inline-block;
			.font-size(1.5rem);
			color: #e3e3e3;
			padding-left:10px;
		}
	}



// -------------------------------------------------------
//  MAIN SECTIONS - Video, Info and Scoreboard
// -------------------------------------------------------

	#video-wrap, #info-wrap, #scoreboard-wrap {
		float:left;
		margin:@line-height 0 0 0;
	}
	
	#video-wrap {
		width:61%;
		/*margin: 1% 1% 0 0;
		padding:16px;
		
		background-color:#555;
		
		color:#e3e3e3;*/
	}
	
		// Styles for video element and more inside the video-wrap
		
		
	
	#info-wrap {
		float:right;
		width:38%;
		/*padding:10px 15px;
		margin: 1% 0 0 0;
		border: 1px dashed @baseColor;*/
	}
		
		// TABS
		.tabs {
			span {
				background:#e3e3e3;
				padding:3px 5px;
				.border-radius(3px);
			}
			margin:0 0 8px 0;
		}
		
		
	
	#scoreboard-wrap { 
		width:100%; 
		clear:both;
		background:red;
	}
	
		// All the other things for the scoreboard
		.team-star {
			width:@line-height/2;
			height:@line-height/2;
			cursor: pointer;
			
			
			.font-size(1.5);
			color: #aaa;
			
			/* IGNORE SELECTION HIGHLIGHT ON STAR */
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			
		}
		.team-star:hover, .team-star:active, .team-star:focus {cursor:pointer;}
		.team-star.true {
			color:#ed0;
			text-shadow:-1px 0 0 rgba(0,0,0,0.5),1px 0 0 rgba(0,0,0,0.5),0 -1px 0 rgba(0,0,0,0.1),0 1px 0 rgba(0,0,0,0.5),
				-1px -1px 1px rgba(0,0,0,0.5),1px -1px 1px rgba(0,0,0,0.5),-1px 1px 1px rgba(0,0,0,0.5),1px 1px 1px rgba(0,0,0,0.5);
		}
		
		

	.boxing {
		/*margin:2px 6px 6px 2px;*/
		padding:0px;
		border:1px solid #c7c7c7;
		background:#fff;
		.border-radius(0px);
		.box-shadow(1px,1px,1px,0px);
		.inner_boxing {
			.box-shadow(1px,1px,2px,0px,#ddd);
			position:relative;
			margin:0px;
			padding:1.5%;
			border:0px solid #c7c7c7;
		}
	}
	
// -------------------------------------------------------
// Scoreboard Styling
// -------------------------------------------------------

/*  TABLE HEADER */
.sc_th_rank {
	width:30px;
}
.sc_th_name { text-align:left; }
.sc_th_solved { width:40px; }
.sc_th_solved span {
	margin:0px 0px 0px -60px;
	padding:0px;
}
.sc_th_time { width:45px; }

/* */
.solved, .attempted, .pending, .solvedfirst {
	text-align:center;
	color:#fff;
}
.solved { background:#B6DEAE; }
.solvedfirst { background:#639E4E; }
.attempted { background:#E0D1CC; }
.pending { background:#FFD843; }
.sc_options {
	width:40px;
	text-align:right;
}

// -------------------------------------------------------
//  FOOTER
// -------------------------------------------------------

footer{
	position:relative;
	overflow:hidden;
	width:100%;
	min-width:@site-min-width;
	padding:40px;
	
	/*height:@line-height*8;
	margin:-@line-height*8 auto 0;*/
	
	margin: 20px auto 20px auto;

	
	background:#102338;
	/*.linear-gradient(#4a4a4a, #3c3c3c);
	*/
	
	font-family:verdana, sans-serif;
	.font-size(1.1);
	color: #eee;
	line-height:@line-height;
	
	a {
		color:#807AC7;
		text-decoration:none;
	}
}
	
	.ident, .disclaimer, .partners, .web_language {
		font-family: @bodyFont;
		font-style:normal;
		text-align:center;
	}
	
	.ident {
		.font-size();
	}
	.disclaimer {
		.font-size(1.3);
		color:#999;
	}
	.partners {
		.font-size(1);
		color:#666;
	}
	.web_language {
		.font-size(1);
		color:#666;
	}

